<footer
  class="d-flex justify-content-between align-items-end px-4 position-relative"
>
  <div class="container-fluid wave pb-2 position-absolute">
    <div class="custom-shape-divider-top-1623545664"></div>
  </div>
  <div class="creator d-flex align-items-end">
    <div class="text-muted d-flex align-items-center">
      Made with
      <span class="mx-1" style="color: rgba(255, 0, 0, 0.8)"> &#9829;</span> by
      Arash - thx to
      <a class="mx-1 teacher" href="https://github.com/cristiancarrino"
        >Cristian Carrino</a
      >
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <a href="https://github.com/arashn2y" target="_blank"
      ><fa-icon [icon]="github" class="icon mx-2"></fa-icon
    ></a>
    <a href="https://www.linkedin.com/in/arashn0uri/" target="_blank"
      ><fa-icon [icon]="linkedin" class="icon mx-2"></fa-icon
    ></a>
    <a href="mailto:arashn2y@gmail.com"
      ><fa-icon [icon]="envelope" class="icon mx-2"></fa-icon
    ></a>
  </div>
</footer>
