footer {
  height: 25%;
  position: relative;
  margin-top: 30px;

  @media (max-width: 600px) {
    height: 60px;
  }
}

.wave {
  left: 0;
  background: transparent;
  height: 60px;

  .custom-shape-divider-top-1623545664 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
}

.creator {
  position: relative;
  height: 100px;
  @media (min-width: 450px) and (max-width: 550px) {
    font-size: 15px;
  }
  @media (max-width: 450px) {
    font-size: 10px;
  }
}

.icon {
  position: relative;
  cursor: pointer;
  color: #777;
  transition: all 0.3s linear;
  font-size: 20px;

  &:hover {
    color: rgba($color: #a00, $alpha: 0.8);
  }

  @media (min-width: 450px) and (max-width: 550px) {
    font-size: 15px;
  }

  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.teacher {
  text-decoration: none;
  color: rgba($color: #00acee, $alpha: 0.6);
  transition: all 0.3s linear;

  &:hover {
    color: #00acee;
  }
}
