<div class="container">
  <div
    class="m-auto text-center text-dark pt-3 font-weight-bold"
    style="font-size: 2rem"
  >
    Last Films
  </div>
  <div class="row row-cols-6">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4"
      *ngFor="let film of lastFilms"
    >
      <div class="card h-100 text-center">
        <img
          [src]="film.cover_url"
          class="card-img-top"
          [alt]="film.title"
          [title]="film.description"
        />
        <div class="card-body position-relative">
          <h5 class="card-title">{{ film.title }}</h5>
          <p class="card-text">{{ film.description }}</p>
          <a
            *ngIf="
              userService.loggedUser &&
              film.created_by === userService.loggedUser.id
            "
            class="badge badge-warning rounded"
            [routerLink]="['/edit-film', film.title]"
            >Edit</a
          >
        </div>
        <div class="card-footer bg-light">
          <button
            class="btn btn-outline-dark"
            [routerLink]="['/filmDetails', film.title]"
          >
            More details
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="m-auto text-center text-dark pt-3 font-weight-bold"
    style="font-size: 2rem"
  >
    Top Films
  </div>
  <div class="row row-cols-6">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4"
      *ngFor="let film of topFilms"
    >
      <div class="card h-100 text-center">
        <img
          [src]="film.cover_url"
          class="card-img-top"
          [alt]="film.title"
          [title]="film.description"
        />
        <div class="card-body">
          <h5 class="card-title">{{ film.title }}</h5>
          <p class="card-text">{{ film.description }}</p>
          <a
            *ngIf="
              userService.loggedUser &&
              film.created_by === userService.loggedUser.id
            "
            class="badge badge-warning rounded"
            [routerLink]="['/edit-film', film.title]"
            >Edit</a
          >
        </div>
        <div class="card-footer bg-light">
          <button
            class="btn btn-outline-dark"
            [routerLink]="['/filmDetails', film.title]"
          >
            More details
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWating">
    <div class="loader"></div>
  </div>
</div>
