.iconGoldColor {
  color: gold;
}
.iconSilverColor {
  color: silver;
}

.wave {
  position: relative;
  background: linear-gradient(90deg, #75489f, #f0027f);
  height: fit-content;

  .custom-shape-divider-bottom-1623538249 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
}
