<div class="container" *ngIf="!isWaiting">
  <div>
    <div
      class="m-auto text-center text-dark pt-3 font-weight-bold"
      style="font-size: 2rem"
    >
      Last Films
    </div>
    <div class="row row-cols-6">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4"
        *ngFor="let film of lastFilms"
      >
        <div class="card h-100 text-center position-relative">
          <div class="position-absolute w-100">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>
            <ngb-rating
              (rateChange)="(rate)"
              [starTemplate]="t"
              [max]="5"
              [(rate)]="film.starRating"
              [readonly]="false"
            ></ngb-rating>
          </div>
          <img
            [src]="film.cover_url"
            class="card-img-top mt-5"
            [alt]="film.title"
            [title]="film.description"
          />
          <div class="card-body position-relative">
            <h5 class="card-title">{{ film.title }}</h5>
            <p class="card-text text-justify">{{ film.description }}</p>
            <app-modifier-button
              [show]="userID && film.created_by === userID ? true : false"
              [label]="['Elimina']"
              [name]="film"
              [field]="['film']"
            ></app-modifier-button>
            <app-modifier-button
              [show]="userID && film.created_by === userID ? true : false"
              [link]="['/edit-film', film.id]"
              [label]="['Modifica']"
              [name]="film"
              [field]="['film']"
            ></app-modifier-button>
          </div>
          <div class="card-footer bg-light">
            <button
              class="btn btn-outline-dark"
              [routerLink]="['/filmDetails', film.title]"
            >
              dettagli
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="m-auto text-center text-dark pt-3 font-weight-bold"
      style="font-size: 2rem"
    >
      Top Films
    </div>
    <div class="row row-cols-6">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4"
        *ngFor="let film of topFilms"
      >
        <div class="card h-100 text-center position-relative">
          <div class="position-absolute w-100">
            <fa-icon
              [icon]="fullStar"
              class="iconGoldColor"
              *ngFor="let index of createRangeForStar(film.vote, 'gold')"
            >
            </fa-icon>
            <fa-icon
              [icon]="halfStar"
              class="iconGoldColor"
              *ngFor="
                let index of createRangeForHalfStar(film.vote % 1, 'silver')
              "
            ></fa-icon>
            <fa-icon
              [icon]="blankStar"
              class="iconGoldColor"
              *ngFor="let index of createRangeForStar(5 - film.vote, 'silver')"
            ></fa-icon>
          </div>
          <img
            [src]="film.cover_url"
            class="card-img-top mt-5"
            [alt]="film.title"
            [title]="film.description"
          />
          <div class="card-body position-relative">
            <h5 class="card-title">{{ film.title }}</h5>
            <p class="card-text text-justify">{{ film.description }}</p>
            <app-modifier-button
              [show]="userID && film.created_by === userID ? true : false"
              [label]="['Elimina']"
              [name]="film"
              [field]="['film']"
            ></app-modifier-button>
            <app-modifier-button
              [show]="userID && film.created_by === userID ? true : false"
              [link]="['/edit-film', film.id]"
              [label]="['Modifica']"
              [name]="film"
              [field]="['film']"
            ></app-modifier-button>
          </div>
          <div class="card-footer bg-light">
            <button
              class="btn btn-outline-dark"
              [routerLink]="['/filmDetails', film.title]"
            >
              dettagli
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isWaiting" class="modal">
  <div class="loader"></div>
</div>
