<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mt-2" href="#">NETFLIX</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mt-2 py-auto">
      <li class="nav-item active d-flex align-items-center">
        <a class="nav-link" routerLink="/dashboard"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link" routerLink="/films">Films</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link" routerLink="/actors">Actors</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link" routerLink="/genres">Genres</a>
      </li>
      <li
        class="nav-item d-flex align-items-center"
        *ngIf="!userService.loggedUser"
      >
        <a class="btn btn-primary my-auto" routerLink="/login">Login</a>
      </li>
      <li
        class="nav-item d-flex align-items-center ml-2"
        *ngIf="userService.loggedUser"
      >
        <a routerLink="/profile">
          <img [src]="userService.loggedUser.photo_url" class="rounded-circle"
        /></a>
      </li>
    </ul>
  </div>
</nav>
