<div class="container">
  <div class="d-flex justify-content-end align-items-center mt-3">
    <a class="btn btn-outline-primary" routerLink="/add-genre">Add a Genre</a>
  </div>
  <div class="row row-cols-6">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4"
      *ngFor="let genre of genres"
    >
      <div class="card h-100 text-center">
        <fa-icon [icon]="film" size="6x"></fa-icon>
        <div class="card-body position-relative">
          <h5>{{ genre.name }}</h5>
          <a
            *ngIf="userService.loggedUser && genre.id > 300"
            class="badge badge-danger rounded position-absolute"
            style="bottom: -12%; left: 5%; cursor: pointer"
            (click)="delete(genre)"
            >Delete</a
          >
          <a
            *ngIf="userService.loggedUser && genre.id > 300"
            class="badge badge-warning rounded position-absolute"
            style="bottom: -12%; right: 5%"
            [routerLink]="['/edit-genre', genre.id]"
            >Edit</a
          >
        </div>
        <div class="card-footer bg-transparent">
          <a href="#" class="btn btn-outline-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWating">
    <div class="loader"></div>
  </div>
</div>
