.label {
  cursor: pointer;
  padding: 4px;
  font-size: 13px;
}

.badge {
  position: absolute;
  right: 3%;
  top: 20%;

  @media (min-width: 576px) {
    top: 17%;
    right: 5%;
  }

  @media (min-width: 768px) {
    right: 5%;
  }

  @media (min-width: 991px) {
    top: 17%;
    right: 4%;
  }

  @media (min-width: 1200px) {
    top: 26%;
  }
}

.badgeStars {
  @media (min-width: 991px) {
    top: 25%;
  }
}
