<div
  class="container-fluid mx-auto d-flex"
  *ngIf="user !== null"
  style="height: 75vh"
>
  <div class="container-fluid wave wave-1 pb-5 position-absolute">
    <div class="custom-shape-divider-bottom-1623538249">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>

  <div class="containerCard">
    <div class="shape">
      <div
        class="image"
        [ngStyle]="{ 'background-image': 'url(' + img + ')' }"
      ></div>
    </div>
    <h3>{{ user.firstname }} {{ user.lastname }}</h3>
    <h3 class="title">Web Designer</h3>
    <div
      class="icons d-flex justify-content-around w-25 align-items-center mx-auto"
    >
      <fa-icon
        [icon]="signout"
        size="lg"
        class="icon"
        (click)="loggedOut()"
      ></fa-icon>
      <fa-icon
        [icon]="userEdit"
        size="lg"
        class="icon"
        routerLink="/edit-profile"
      ></fa-icon>
    </div>
  </div>
</div>
