<div
  class="container-fluid wave pb-5 d-flex justify-content-center align align-items-center"
>
  <div class="custom-shape-divider-bottom-1623538249">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>

  <div
    class="m-auto text-center pt-5 font-weight-bold position-absolute large"
    style="top: 1%; left: 3%"
  >
    <div class="goBack" (click)="goBack()">
      <div id="arrowAnim">
        <div class="arrowSliding">
          <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay1">
          <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay2">
          <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay3">
          <div class="arrow"></div>
        </div>
      </div>
      <span class="goBackText">Indietro</span>
    </div>
  </div>

  <h1 class="stream">Under Construction</h1>
</div>
