.label {
  cursor: pointer;
  padding: 4px;
  font-size: 13px;
  transition: all 0.5s linear;
}

.selected {
  cursor: default;
}

.badge {
  top: -5px;
  right: -5px;
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgba(170, 9, 20, 1) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgba(170, 9, 20, 1) !important;
}
