<div class="container" *ngIf="user">
  <div
    class="m-auto text-center pt-5 font-weight-bold position-relative large text-danger"
  >
    <a
      (click)="goBack()"
      class="btn button-transparent text-danger position-absolute"
      style="top: 1%; left: 1%"
    >
      < Indietro
    </a>
    MODIFICA
  </div>
  <hr class="text-info" />
  <div class="row">
    <div class="col-md-4">
      <img
        [src]="
          user.photo_url ||
          'https://raw.githubusercontent.com/julien-gargot/images-placeholder/master/placeholder-portrait.png'
        "
        alt=""
        srcset=""
        class="img-thumbnail mb-3 rounded"
      />
    </div>
    <form class="col-md-8">
      <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label"
          >First name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="firstName"
            [(ngModel)]="user.firstname"
            name="firstname"
            placeholder="es. Brad"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="user.lastname"
            name="lastName"
            placeholder="es. Scorsese"
          />
        </div>
      </div>
      <div class="form-group row position-relative">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="user.username"
            name="username"
          />
        </div>
      </div>
      <div class="form-group row position-relative">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="user.password"
            name="password"
          />
        </div>
      </div>
      <div class="form-group row position-relative">
        <label for="birthdate" class="col-sm-2 col-form-label"
          >Date of birth</label
        >
        <div class="input-group col-sm-10">
          <input
            type="text"
            class="form-control"
            id="birthdate"
            [(ngModel)]="user.birthdate"
            name="birthdate"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">(YYYY-MM-DD)</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="photo_url" class="col-sm-2 col-form-label">Photo</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="photo-url"
            [(ngModel)]="user.photo_url"
            name="photo_url"
            placeholder="Put the link of actor's photo here..."
          />
        </div>
      </div>
      <div class="form-group row justify-content-around">
        <div class="col-sm-6 mt-2 d-flex justify-content-center">
          <button type="submit" class="w-75 btn btn-warning" (click)="edit()">
            MODIFICA
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
