<div class="container">
  <div class="d-flex justify-content-end align-items-center mt-3">
    <a class="btn btn-outline-dark" routerLink="/add-actor">Add an actor</a>
  </div>
  <div class="row row-cols-6">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4"
      *ngFor="let actor of actors"
    >
      <div class="card h-100 text-center">
        <img
          *ngIf="actor.photo_url"
          [src]="actor.photo_url"
          [alt]="actor.firstname + actor.lastname"
          srcset=""
          class="img-thumbnail"
        />
        <fa-icon
          *ngIf="!actor.photo_url"
          [icon]="userCircle"
          size="6x"
          class="mt-5"
        ></fa-icon>
        <div class="card-body justofy-content-between position-relative">
          <h5 class="card-title mt-2">
            {{ actor.firstname }} {{ actor.lastname }}
          </h5>
          <p class="card-text">{{ actor.birthdate }}</p>
          <a
            *ngIf="
              userService.loggedUser &&
              actor.created_by === userService.loggedUser.id
            "
            class="badge badge-danger rounded position-absolute"
            style="top: 2%; left: 5%; cursor: pointer"
            (click)="delete(actor)"
            >Delete</a
          >
          <a
            *ngIf="
              userService.loggedUser &&
              actor.created_by === userService.loggedUser.id
            "
            class="badge badge-warning rounded position-absolute"
            style="top: 2%; right: 5%"
            [routerLink]="['/edit-actor', actor.id]"
            >Edit</a
          >
        </div>
        <div class="card-footer bg-transparent">
          <button class="btn btn-outline-dark">More details</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWaiting">
    <div class="loader"></div>
  </div>
</div>
