.searchAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBox {
  &:focus {
    outline: none;
  }
}

.titleButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;

  @media (max-width: 365px) {
    flex-direction: column;
  }
}

.wave {
  left: 0;
  background: linear-gradient(90deg, #75489f, #f0027f);
  height: 2000px;

  &.wave-1 {
    top: 0;
  }
  &.wave-2 {
    top: 4000px;
  }
  &.wave-3 {
    top: 5900px;
  }

  @media (max-width: 575px) {
    height: 4000px;
    &.wave-1 {
      top: 0;
    }
    &.wave-2 {
      top: 8000px;
    }
    &.wave-3 {
      top: 11000px;
    }
  }

  .custom-shape-divider-bottom-1623538249 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1623545664 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
}

::ng-deep {
  .mat-focused .mat-form-field-label {
    color: #fff !important;
  }

  .mat-input-element::placeholder {
    color: #fff !important;
  }

  .mat-form-field-ripple {
    background-color: #fff !important;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 100%;

  .matIcon {
    vertical-align: middle;
  }

  .containerButton {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 160px;

    .specialButton {
      letter-spacing: 0.1em;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 45px;
      max-width: 160px;
      outline: 2px solid #000;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;

      &:hover {
        text-decoration: none;
      }
    }

    .effect04 {
      --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
      display: var(--uismLinkDisplay);
      color: #000;
      position: relative;
      transition-duration: 0.4s;
      overflow: hidden;

      &::before {
        content: attr(data-sm-link-text);
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-transform: translateY(500%) scale(-0.1, 20);
        transform: translateY(500%) scale(-0.1, 20);
      }

      &::before,
      span {
        margin: 0 auto;
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-duration: 0.4s;
      }

      &:hover {
        background-color: #000;

        &::before {
          letter-spacing: 0.05em;
          -webkit-transform: translateY(0) scale(1, 1);
          transform: translateY(0) scale(1, 1);
        }

        span {
          -webkit-transform: translateY(-400%) scale(-0.1, 20);
          transform: translateY(-400%) scale(-0.1, 20);
        }
      }
    }
  }
}
