<div class="container h-50">
  <div class="row" *ngIf="!isWaiting">
    <div class="col-md-6 mt-4 order-md-1">
      <img
        [src]="film.cover_url"
        class="card-img-top"
        [alt]="film.title"
        [title]="film.description"
      />
    </div>
    <div class="col-md-6 mt-4 pb-5">
      <div class="card text-center">
        <div class="card-body position-relative">
          <h4 class="card-title"><strong>Title: </strong>{{ film.title }}</h4>
          <h5><strong>Director: </strong> {{ film.director }}</h5>
          <h6><strong>Vote: </strong> {{ film.vote }}</h6>
          <fa-icon
            [icon]="fullStar"
            class="iconGoldColor"
            *ngFor="let index of createRangeForStar(film.vote, 'gold')"
          >
          </fa-icon>
          <fa-icon
            [icon]="halfStar"
            class="iconGoldColor"
            *ngFor="
              let index of createRangeForHalfStar(film.vote % 1, 'silver')
            "
          ></fa-icon>
          <fa-icon
            [icon]="blankStar"
            class="iconGoldColor"
            *ngFor="let index of createRangeForStar(5 - film.vote, 'silver')"
          ></fa-icon>
          <p class="card-text">{{ film.description }}</p>
          <div class="card-text">
            <label for="actors"><strong>Actors:</strong></label>
            <span *ngFor="let actor of film.actors; index as i"
              >{{ actor.firstname + actor.lastname }},
            </span>
          </div>
          <div class="text-primary">
            <span *ngFor="let genre of film.genres">#{{ genre.name }}</span>
          </div>
          <a
            *ngIf="
              userService.loggedUser &&
              film.created_by === userService.loggedUser.id
            "
            class="badge badge-danger rounded position-absolute"
            style="bottom: 2%; left: 2%; cursor: pointer"
            (click)="delete(film)"
            >Delete</a
          >
          <a
            *ngIf="
              userService.loggedUser &&
              film.created_by === userService.loggedUser.id
            "
            class="badge badge-warning rounded position-absolute"
            style="bottom: 2%; right: 2%; cursor: pointer"
            [routerLink]="['/edit-film', film.id]"
            >Edit</a
          >
        </div>
        <div class="card-footer bg-light">
          <button class="btn btn-outline-dark" routerLink="/films">
            Go back
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWaiting">
    <div class="loader"></div>
  </div>
</div>
