.iconGoldColor {
  color: gold;
}
.iconSilverColor {
  color: silver;
}

img {
  transition: all 0.2s ease;
}

img:hover {
  transform: scale(0.97);
}

.badge {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
