<div class="container h-50" *ngIf="!isWaiting">
  <div class="container-fluid wave pb-5 position-absolute">
    <div class="custom-shape-divider-bottom-1623538249">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>
  <div class="filmDetails" *ngIf="!isWaiting">
    <div>
      <img
        [src]="film.cover_url"
        [alt]="film.title"
        [title]="film.description"
      />
    </div>
    <div>
      <div class="containerCard">
        <div class="shape">
          <div class="title">
            <h4>{{ film.title }}</h4>
          </div>
          <div class="image">
            <fa-icon
              [icon]="fullStar"
              class="iconGoldColor"
              *ngFor="let index of createRangeForStar(film.vote, 'gold')"
            >
            </fa-icon>
            <fa-icon
              [icon]="halfStar"
              class="iconGoldColor"
              *ngFor="
                let index of createRangeForHalfStar(film.vote % 1, 'silver')
              "
            ></fa-icon>
            <fa-icon
              [icon]="blankStar"
              class="iconGoldColor"
              *ngFor="let index of createRangeForStar(5 - film.vote, 'silver')"
            ></fa-icon>
          </div>
        </div>
        <h3 class="subTitle"><strong>Director: </strong>{{ film.director }}</h3>
        <h3 class="description">{{ film.description }}</h3>
        <label *ngIf="actors.length"
          ><strong *ngIf="actors.length == 1">Actor:</strong
          ><strong *ngIf="actors.length > 1">Actors:</strong>
          <span> {{ actors.join(", ") }}</span></label
        >
        <br />
        <Label *ngIf="film.genres.length"
          ><strong *ngIf="film.genres.length == 1">Genre: </strong
          ><strong *ngIf="film.genres.length > 1">Genres: </strong
          ><span *ngFor="let genre of film.genres" class="text-info"
            >#{{ genre.name }}
          </span>
        </Label>
        <div
          class="icons d-flex justify-content-around w-25 align-items-center mx-auto"
        >
          <fa-icon
            [icon]="back"
            size="lg"
            class="icon"
            (click)="goBack()"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isWaiting" class="modal">
  <div class="loader"></div>
</div>
